<fieldset class="box">
  <p>
<%= l(:label_issue) %> #<%= text_field_tag :issue_id %>
<%= button_tag l(:button_apply), :type => 'button', :class => "apply_issue" %>
</p>
</fieldset>
<fieldset class="box">
<%= labelled_fields_for :issue, @note.issue do |f| %>
<% if Redmine::VERSION::MAJOR < 4 && Redmine::VERSION::MINOR < 3 %>
  <p><%= f.select :tracker_id, @project.trackers.collect {|t| [t.name, t.id]}, {:required => true},:onchange => "updateIssueFrom('#{escape_javascript update_issue_form_path(@project, @note.issue)}', this)" %></p>
<% else %>
  <p><%= f.select :tracker_id, trackers_options_for_select(@note.issue), {:required => true} %></p>
<% end %>
  <p><%= f.text_field :subject, :size => 40, :maxlength => 40 %></p>
<% end %>
</fieldset>
<%= javascript_tag do %>
$(document).ready(function(){
  $("#issue_tracker_id").each(function(){
    $(this).val($(this).find("option[selected=selected]").val());
  });
  $(".apply_issue").click(function(){
    var issue_id = $("#issue_id").val();
    var url = "<%= url_for(:controller => :mappingboards, :action => :apply_issue) %>";
    url = url + "?issue_id=" + issue_id;
    $.ajax({url: url});
  });
});
<% end %>
