<fieldset class="box">
  <p>
<%= l(:label_issue) %> #<%= text_field_tag :issue_id %>
<span id="predecessor_fields" style="display:none;">
<%= l(:field_delay) %>: <%= text_field_tag :delay %> <%= l(:label_day_plural) %>
</span>
<%= submit_tag l(:button_apply) %>
</p>
<%= javascript_tag "observeAutocompleteField('issue_id', '#{escape_javascript auto_complete_issues_path(:project_id => @project, :scope => (Setting.cross_project_issue_relations? ? 'all' : nil))}')" %>
</fieldset>
<fieldset class="box">
<%= labelled_fields_for :issue, @issue do |f| %>
  <p><%= f.select :tracker_id, trackers_options_for_select(@issue), {:required => true} %></p>
                 
  <p><%= f.text_field :subject, :size => 40, :maxlength => 40 %></p>
  <p><%= f.text_area :description,
                   :cols => 80,
                   :rows => 5,
                   :no_label => true %></p>
<% end %>
</fieldset>
<%= javascript_tag do %>
$(document).ready(function(){
  $("#issue_tracker_id, #issue_status_id").each(function(){
    $(this).val($(this).find("option[selected=selected]").val());
  });
});
<% end %>
